body, html, #cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

.ui-overlay {
    position: absolute; top: 20px; left: 20px; z-index: 1000;
    display: flex; flex-direction: column; gap: 10px;
}

.btn {
    padding: 10px 20px; cursor: pointer; border: none; 
    border-radius: 5px; font-weight: bold; color: white;
    transition: 0.3s;
}

.btn-navy { background: #000080; }
.btn-dark { background: #2c3e50; }

#toolbar-info {
    background-color: rgba(255, 255, 255, 0.8);
    color: black; border: 1px solid #333;
    border-radius: 10px; padding: 15px;
    font-family: sans-serif; pointer-events: none;
}

#chartContainer {
    position: absolute; bottom: 30px; left: 30px; 
    width: 450px; height: 250px; 
    background: rgba(255,255,255,0.95); 
    padding: 15px; border-radius: 8px; 
    display: none; z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
